/* Lets pick colours! */

/*:root {
  --bg-color: #fff;
  --text-color: #000;
  --highlight-color: #000;
  --link-color: blue;
}*/

body, html {
  color: var(--text-color);
  background-color: var(--bg-color);

  /*Declare your font*/
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  line-height: 22px;
}

/*choose your type heirarchy*/
h1,h2,h3,h4 {font-weight: 700;}
h1 {font-size: 3rem;}
h2 {font-size: 2rem;}
h3 {font-size: 1rem;}
h4 {font-size: 1rem;}

b {font-weight: 700;}
i {font-style: italic;}
a {color: var(--link-color)}

/*/*basic structure*/

.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #b29998;
  color: #ffffff;
}

.text-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.header .text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.header .title {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  font-size: 4rem;
  text-align: right;
  line-height: 60px;
}

.quotes {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height:30px;
  text-indent: 15px;
  font-size: 1.5rem;
}

.experience {
  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height: 24px;
  background-color: rgba(178, 153, 152, 0.2);
}

.jobs-item {
  padding-top: 2rem;
}

.jobs-item h2 {
  line-height: 35px;
  margin-bottom: 1rem;
}

/*.jobs-item p {
  margin-bottom: 1rem;
}*/

.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #b29998;
    color: #ffffff;
}

@media (min-width: 450px){
  .header .intro {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 768px) {
  .header .text-container {
    flex-direction: row;
  }
}

@media (min-width: 920px) {
  body,html {
    line-height: 26px;
  }

  .header {
    padding-top: 2rem;
    padding-bottom: 2rem;
  } 

  .header .title {
    font-size: 5rem;
    line-height: 75px;
  }

  .text-container {
    padding-left: 3rem;
   padding-right: 3rem;
  } 

  .quotes {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height:40px;
  text-indent: 25px;
  font-size: 2rem;
}

.jobs-item h2 {
  line-height: 26px;
  margin-bottom: 1rem;
}
}


